@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "montserrat";
}
body{
    background-image: url(/img/hands.jpg);
    background-position-y: -60px;
    background-position-x: -120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.801);
}
/* Menuen/nav-baren starter her*/
header{
    margin-top: 10px;
    font-family: "montserrat";
    background-color: rgba(0, 0, 0, 0.803);
    min-height: 80px;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border: solid rgba(0, 0, 0, 0);
    border-radius: 10px;
}
li, a, button {
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    border: none;
}
.logo{
    cursor: pointer;
    padding-bottom: 10px;
}
.logo:hover{
    cursor: pointer;
    padding-bottom: 10px;
    filter: opacity(80%);
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: rgb(255, 0, 89);
}
button{
    padding: 9px 25px;
    background-color:rgb(255, 0, 89,1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color:rgba(255, 0, 89, 0.473);
}
/* Menuen/nav-baren Slutter her*/
.overskrift{
    text-align: center;
    margin-top: 100px;
}
.overskrift2{
    text-align: center;
    margin-top: 50px;
}
.overskrift4{
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}
.overskrift3{
    text-align: center;
    margin-top: 50px;
    font-weight: 300;
    color: rgb(255, 0, 89,1);;
}
/* Footer sektionen starter her*/
footer{
    margin-top: 200px;
    height: 230px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, #000000c6, #000000c8);
    padding: 0px 0 30px;
    border-top-left-radius: 125px;
    font-size: 14px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px ;
    color: white;
}
.col:nth-child(2),.col:nth-child(3){
    flex-basis: 25%
}
.logo2{
    float: top;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-top: 0px;
    white-space: nowrap;
    color: white;
}
.col h3{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
    color: white;
}
.email{
    width: fit-content;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
    margin: 20px 0;
    font-size: 14px;
}
.footlist{
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
}
.footlist2{
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
}
.footlist a{
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
}
.footlist2 a{
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
}
.footlist:hover{
    color: rgb(255, 0, 89,1);
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
}
.footlist2:hover{
    color: rgb(255, 0, 89,1);
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
}
.footlist a:hover{
    color: rgb(255, 0, 89,1);
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
}
.footlist2 a:hover{
    color: rgb(255, 0, 89,1);
    font-size: 14px;
    list-style: none;
    margin-bottom: 12px;
}
h3{
    font-size: 16px;
    font-weight: bold;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
    color: white;
}
form input{
    width: 120px;
    background: transparent;
    color: white;
    border: 0px;
    outline: none;
}
.knapfoot{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    color: white;   
}
.knapfoot .fas{
font-size: 16px;
color: white;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    color: white;
    background: none;
    margin-right: 15px;
    cursor: pointer;
}
.social-icons .fab:hover{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 0px;
    font-size: 20px;
    color: rgb(255, 0, 89,1);
    background: none;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100px;
    height: 5px;
    background:rgb(255, 255, 255);
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0%;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    position: absolute;
    top: 0%;
    left: 10px;
}

/* Footer sektionen slutter her - hvis du ikke kunne gætte det ;)*/